<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h5 class="font-xxs color-ct-blue">Header Information</h5>
    </header>
    <main>
      <h3>Login failed.</h3>
    </main>
    <footer>
      <h5 class="font-xxs color-ct-grey">Footer Information</h5>
    </footer>
  </body>
</html>
