<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/styles.css" />
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
        <script src="js/webservice.js"></script>
    <script src="js/master.js"></script>
    </head>
    <body>
    <header>
      <section>
        <p>BCM logo</p>
        <p th:text="'Hello, '+ ${name}" />
      </section>
    </header>
    <main>
      <section>
        <div class="container">
          <div class="row">
        <div class="col-sm-3">
          <!--Button menu: Inquiry/Update/Report/Note-->
          <div class="row">
            <a class="btn" >Inquiry</a>
          </div>
          <div class="row">
                <a class="btn" >Update</a>
          </div>
          <div class="row">
                <a class="btn" >Report</a>
          </div>
          <div class="row">
                <a class="btn" >Note Count</a>
          </div>
          <!--/Button menu: Inquiry/Update/Report/Note-->
        </div>
        <div class="col-sm-9">
          <!--/input login form-->
              <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">User: </label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Password: </label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Sign in</button>
                </div>
              </div>
              </form>
          <!--/input login form-->
        </div>
      </div>
    </div>
      </section>
    </main>
    <footer>
    <section>
        <p>Footer info</p>
    </section>
    </footer>
    </body>
</html>
